# dependencies
node_modules/
.vscode/
.idea/
.wix/
jsconfig.json
*.DS_Store

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
test_env/

# Streamlit
.streamlit/secrets.toml
