authlib>=1.5.0
certifi>=2023.7.22
langchain-community>=0.3.20
langchain-core>=0.1.15
langchain-mongodb>=0.6.0
langchain-openai>=0.0.5
langgraph>=0.3.0
pymongo>=4.12.1
pypdf>=5.0.0
python-dotenv>=1.0.0
streamlit>=1.42.0